.cm-inactive {
  display: none;
  visibility: hidden;
}

.cm-logo {
  width: 102px;
  height: 50px;
  float: right;

  &:hover {
    border: solid dimgray 3px;
  }
}

#cm-container {
  position: absolute;
  top: 15px;
  right: 15px;
}

#cm-dialog {
  background-color: dimgray;
  border: solid black 1px;
}