.cm-inactive {
  display: none;
  visibility: hidden;
}

.cm-arrowRight {
  position: relative;
  float: right;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid black;

  &:hover {
    border-left-color: dimgray;
  }
}

.cm-arrowLeft {
  position: relative;
  float: left;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid black;

  &:hover {
    border-right-color: dimgray;

  }
}

.cm-logo {
  width: 102px;
  height: 50px;
  float: right;

  &:hover {
    border: solid dimgray 3px;
  }
}

#cm-container {
  position: absolute;
  top: 15px;
  right: 15px;
}

#cm-dialog {
  position: absolute;
  top: 50px;
  right: 15px;
  width: 200px;
  background-color: lightgray;
  border: solid black 1px;
  padding: 5px;
}

.cm-dialogHeader {
  display: inline-flex;
  width: 100%;
  vertical-align: middle;
  border-bottom: dashed 2px dimgray;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.cm-colorPickerContainer {
  display: inline-block;
  width: 100%;
  align-content: center;
}

.cm-colorPickerTitle {
  float: left;
  vertical-align: middle;
}

.cm-colorPicker {
  float: right;
}

.cm-currentClass {
  width: 100%;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.cm-dropdownMenuTitle {

  &:hover {
    font-weight: bold;
    cursor: pointer;
  }
}

#cm-borderStyleMenu {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 100px;
  overflow-y: auto;
}

.cm-dropdownItem {
  width: 90%;
  padding-left: 15px;
  background-color: dimgray;
  color: white;

  &:hover{
    -webkit-filter: invert(100%);
    filter: invert(100%);
    font-weight: normal !important;
  }
}