.cm-inactive {
  display: none;
  visibility: hidden; }

.cm-logo {
  width: 102px;
  height: 50px;
  float: right; }
  .cm-logo:hover {
    border: solid dimgray 3px; }

#cm-container {
  position: absolute;
  top: 15px;
  right: 15px; }

#cm-dialog {
  position: absolute;
  top: 50px;
  right: 15px;
  width: 200px;
  background-color: lightgray;
  border: solid black 1px;
  padding: 5px; }

.cm-colorPickerContainer {
  display: inline-block;
  width: 100%;
  align-content: center; }

.cm-colorPickerTitle {
  float: left;
  vertical-align: middle; }

.cm-colorPicker {
  float: right; }

.cm-currentClass {
  text-align: center;
  font-size: larger;
  font-weight: bold; }
