.cm-inactive {
  display: none;
  visibility: hidden; }

.cm-logo {
  width: 102px;
  height: 50px;
  float: right; }
  .cm-logo:hover {
    border: solid dimgray 3px; }

#cm-container {
  position: absolute;
  top: 15px;
  right: 15px; }

#cm-dialog {
  background-color: lightgray;
  border: solid black 1px; }

.cm-colorPickerContainer {
  display: inline-block;
  width: 60%;
  align-content: center; }

.cm-colorPickerTitle {
  float: left;
  padding: 5px;
  vertical-align: middle; }

.cm-colorPicker {
  float: right; }
